body {
    background-color: black;
}

h1 {
    color: white;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 120px;
    letter-spacing: 20px;
}
