body {
    background-color: black;
}

h1 {
    color: white;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 100px;
    letter-spacing: 20px;
}
